#dependencies
/node_modules

#database authentication
/database/config.js
/database/config2.js
.env
/scripts

#distribution
/src/distribution

#spec sheet images
/src/images
/src/bullets

#misc
package-lock.json
excel.txt
options.txt
