#dependencies
/node_modules

#database authentication
/database/config.js
/database/config2.js
.env
/scripts

#distribution
/src/distribution

#specsheet images
/src/images

#misc
package-lock.json
excel.txt
options.txt
