.page1 {
    width: 612pt;
    height: 792pt;
}
.scaled {
    transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
    background-color: skyblue;
}
.pdf-preview {
    font-family: "Times New Roman", Times, serif;
}